/* desktop-first design elements */
html {
    scroll-padding-top: 10em;
}

body {
    background-color: #e9d0c6;
    color: black;
    min-width: 300px;
}

h1 {
    color: black;
}

#name {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 5rem; 
    border-bottom: 3px solid black;
    width: 90%;
    letter-spacing: .25rem;
    margin: 50px 10px 10px 10px;
}

.top {
    width: 100%;
    position: sticky;
    top: 0; 
    background-color: #e9d0c6;
    display: flex; 
}

.nav {
    display: flex;
    width: 10%; 
    justify-content: flex-end;
    text-align: right;
    padding-right: 20px;
    padding-top: 55px;
}

.nav ul {
    padding: 0; 
}

.nav a {
    color: black;
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}

.nav a:hover {
    background-color: rgb(255, 251, 240);
}

.nav a:focus {
    background-color: rgb(255, 251, 240);
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.aboutInfo {
    display: flex; 
    width: 100%;
}

#about {
    width: 50%;
    padding-left: 20px;
    padding-right: 70px;
}

#experience {
    width: 50%;   
}

#jobs {
    display: flex;    
}

#experience h2 {
    padding-left: 20px;
}

h2 {
	font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    margin: 20px 0;
}

p, li {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

li {
   font-size: 1rem;
}

#about p {
    font-size: 1rem;
}

ul {  
	list-style-type: none; 
    margin: 0;  
}

.job li {
    display: inline;   
}

li.date {
    float: right;
    padding-right: 20px;
    text-align: right;
}

.job-description {
    font-size: .75rem;
    padding-right: 200px;
    margin: 1px 0 10px 0; 
}

.skillsAndProjects {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}

#skills {
    width: 50%;
    padding-right: 70px;
}
#skills h2 {
    padding-left: 20px; 
}

#skills ul {
    padding-left: 30px;
}

#projects {
    width: 50%;
}

#projects h2 {
    padding-left: 30px;
}

#projects ul {
    padding-left: 50px; 
}

#leave_message_section h2 {
    padding-left: 20px;
    margin-top: 30px; 
}

form {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    padding-left: 20px; 
}

label {
    display: inline-block;
    width: 10%;  
    padding: 5px;
}

input {
    width: 30%;
    padding: 5px;  
    border: none; 
    margin-left: 2em;
}

textarea {
    width: 30%;
    height: 10em;
    margin-top: 4px; 
    margin-left: 2em;
    padding: 5px; 
    border: none; 
    resize: none;
}

#usersMessageID {
    vertical-align: top;
}

#connect {
    margin: 1em 0 0 0; 
    width: 100%;
    display: flex;
    justify-content: center; 
}

.submitButtonSection button {
    background-color: black;
    color: white;
    border: none;
    padding: .5em 1.5em; 
    cursor: pointer; 
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

.submitButtonSection {
    display: block;
    width: 50%;
    margin: 1em auto;
}

#messages {
    width: 50%;
}

#messages h2 {
    padding-left: 20px;
}

.messages-display li {
    font-weight: 400;
}

.messages-display li:nth-child(n+2) {
    margin-top: 25px;
}

.messages-display li span {
    word-wrap: break-word;
}

#removeButtonID {
    background-color: white;
    margin-top: 0;
    cursor: pointer; 
    border: black .1em solid;
    padding: .1em .5em; 
    cursor: pointer; 
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    float: right;
   
}

.contact-icon {
    width: 4.5em;
    margin: 3em 3em 0 3em;  
 }
 
 .contact-icon:hover {
     opacity: 0.5;
 }
 
footer {
    margin-top: 40px;
    text-align: center;
}





/* mobile size media query */

 @media (max-width: 480px) {
    html {
        scroll-padding-top: 18em;
    }
    body {
        margin: 0; 
        display: flex; 
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
    }
    .top {
        padding: 0; 
        width: 100%;
        flex-direction: column;
        background-color: black;
        justify-content: center;
    }
    #name {
        color: white;  
        padding: .5em 0; 
        margin: 0; 
        width: 100%;
        font-size: 4rem;
        text-align: center;
        border-bottom: solid white 2px;
    }
    .nav {
        display: block;
        text-align: center;
        margin: 0; 
        padding: 0; 
        width: 100%;
    }
    .nav ul {
        background-color: white;
        border-bottom: black solid 2px;
        width: 100%;
        padding-top: 2em;
        position: fixed;
        left: -100%;
        flex-direction: column;
    }
    .nav a {
        font-size: 1.5em;
        color: black; 
        padding: 0;  
    }
    .navMenu.active {
        left: 0;
    }
    .hamburger {
        padding: 5px;
        background-color: white;
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .aboutInfo {
        flex-direction: column;
    }
    #about {
        width: 100%;
        margin: 0; 
        padding: 20px 0 0 0; 
    }
    #about h2 {
        padding-left: 20px
    }
    #about p {
        padding: 0 30px; 
    }
    #experience {
        width: 100%;
    }
    #experience ul {
        padding: 0 30px; 
    }
    .job-description {
        padding: 0;
    }
    .job {
        display: flex;
        flex-direction: column;
    }
    .job li { 
        padding: 0;
        margin: 0;
    }
    li.date {
        display: contents;
        font-size: .75rem;
        font-style: italic;
    }
    .skillsAndProjects {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    #skills,
    #projects {
        margin: 20px 0;
        width: 100%;
        padding: 0;
    }
    #skills h2 {
        margin: 0;
    }
    #skills ul,
    #projects ul {
        margin-top: 20px;
    }
    #projects h2 {
        margin: 0;
        padding-left: 20px;
    }
    #projects ul {
        padding-left: 30px; 
    }
    #leave_message_section h2 {
        margin-top: 10px;
    }
    input,
    textarea{
        display: block;
        width: 70%;
        margin-left: 3em;  
    }
    .submitButtonSection {
        display: flex;
        justify-content: center;        
    }
    #messages {
        width: 100%;
    }
    .messages-display {
        width: 90%;
    }
    .contact-icon {
        width: 3.5em;
        margin: 1em 1em 0 1em;  
     }
 }





 /* tablet size media query */
 @media (min-width: 481px) and (max-width: 1020px) {
    html {
        scroll-padding-top: 20em;
    }
    body {
        margin: 0; 
    }
    .top {
        padding: 0; 
        width: 100%;
        flex-direction: column;
        background-color: white;
        justify-content: center;
    }
    #name {
        color: black;  
        padding: 30px 0; 
        margin: 0; 
        width: 100%;
        font-size: 5rem;
        text-align: center;
        border: none;
    }
    .nav {
        margin: 0; 
        padding-top: 20px; 
        justify-content: center;
        flex-direction: row;
        background-color: black;
        width: 100%;
        padding-right: 0; 
    }
    .nav ul {
        margin: 0; 
        display: flex; 
        padding-bottom: 20px;
    }
    .nav a {
        color: white; 
        padding: 0 30px;  
    }
    .nav a:hover {
        background-color: black;
        border-bottom: solid white 2px;
    }
    .nav a:focus {
        background-color: black;
        border-bottom: solid 2px #e9d0c6;
    }
    .aboutInfo {
        flex-direction: column;
    }
    #about {
        width: 100%;
        margin: 0; 
        padding: 20px 0 0 0; 
    }
    #about h2 {
        padding-left: 20px;
    }
    #about p {
        padding: 0 40px; 
    }
    #experience {
        width: 100%;
    }
    #experience h2 {
        padding-left: 20px; 
    }
    #experience ul {
        padding-right: 40px;
    }
    #skills {
        width: 50%;
        padding-right: 0;
    }
    #projects {
        width: 50%;
    }   
    #projects h2 {
        padding: 0;
        padding-left: 10px;
    }
    #skills ul {
        padding-left: 30px; 
    }
    #projects ul {
        padding-left: 30px; 
    }
    input,
    textarea{
        width: 40%;
        margin-left: 3em;
    }
    .submitButtonSection {
        display: block;
        width: 40%;
        margin: 1em auto;      
    }
    #messages {
        width: 95%;
    }
    #connect {
        padding-top: 30px; 
    }
    .contact-icon {
        width: 3.5em;
        margin: 2em 2em 0 2em;  
     }
 }

 